body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars from appearing */
}

#swagger-container {
    width: 100%;
    height: 100vh; /* Full viewport height */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
}

.swagger-ui {
    max-width: none; /* Remove default max-width */
    margin: 0;
}
